<h1 class="title">正在匹配 <%= roomId %> <%= nickname %></h1>
<div id="dancefloor"></div>

<script>
	$(function() {
		var socket = io.connect('<%= HOST %>'),
			roomId = '<%= roomId %>',
			nickname = '<%= nickname %>',competitor,
			players = '<%= players %>'.split(',');
		//console.log(players);

		//告诉服务器端已登陆
		socket.emit('login', { roomid: roomId, username: nickname });

		if (players.length == 2) {
			//告诉服务器游戏开始
			socket.emit('match', { roomid: roomId, players: players });
		}

		socket.on('match', function(message) {
			console.log(message);
			//游戏初始化
			gameInit(message);
		});

		socket.on('message', function(message) {
			console.log(message);
			switch(message.type) {
				case 'jump':
					jump(message.player);
					break;
				default:
					console.log('场景');
			}
		});

		function gameInit(players) {
			$('h1').text('游戏开始');
			competitor = players[0] != nickname ? players[0] : players[1];
			addUser(nickname);
			addUser(competitor);
		}

		function addUser(player) {
			$('#dancefloor').append("<div class='dancer'><div class='nickname'>" + player + "</div><div class='user hi' id='" + player + "'></div></div>");
		}

		function jump(name) {
			if ($('#'+name).hasClass('hi')) $('#'+name).removeClass('hi').addClass('up')
			else $('#'+name).removeClass('up').addClass('hi')
		}

		$('body').keyup(function(e) {
			if (e.keyCode == 32) {
				jump(nickname);
				socket.emit('message', { type: 'jump', roomid: roomId, player: nickname});
			}
		});
	});
</script>